.ShopHeader {
    background-color: #fff;
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.ShopHeader.active {
    height: 245px;
}

.ShopHeader_logo {
    margin-left: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ShopHeader_logo a {
    display: block;
}

.logo {
    width: 197px;
    height: 34px;
    margin-right: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.shop_link {
    padding: 12px 14px 12px 36px;
    text-decoration: none;
    color: #4fa234;
    border: 2px solid #6bc64e;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 1px rgb(0 0 0 / 10%);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.shop_link::before {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("../../asstes/icon_shop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.shop_link>span {
    position: absolute;
    top: -12px;
    right: -22px;
    padding: 2px 4px;
    background-color: #fff;
    border: 2px solid #6bc64e;
    color: #bbb;
    border-radius: 12px;
    font-size: 12px
}

.ShopHaeader_reg {
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search_form input {
    display: block;
    outline: none;
    width: 220px;
    padding: 6px 40px 6px 16px;
    height: 40px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search_form input:focus {
    border-color: #fff343;
}

.bars_icon {
    position: absolute;
    left: 0;
    top: 50%;
    display: none;
    transform: translateY(-50%);
}

.search_form ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.search_form ul li a {
    text-decoration: none;
    color: #878787;
    font-weight: 500;
    transition: all .3s;
    border-bottom: 2px solid transparent;
    font-family: "helvetica neue", helvetica, Arial, "lucida grande", sans-serif;
    padding: 1px;
    line-height: 3em;
    font-size: 1.3em;
}

@media (max-width: 1025px) {
    .ShopHeader {
        background-color: #fff;
        position: sticky !important;
        left: 0;
        top: 0;
    }

    .ShopHaeader_reg {
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .ShopHeader {
        height: 60px;
    }
    .logo {
        margin: 0;
    }
    .shop_link {
        display: none !important;
    }

    .bars_icon {
        display: block;
    }

    .search_form ul {
        display: block;
    }

    .ShopHaeader_reg {
        justify-content: flex-start;
    }

    .search_form {
        background-color: #fff;
        z-index: 999;
        padding-top: 20px;
    }

    .ShopHeader_logo {
        justify-content: center;
        position: relative;
        height: 60px;
        margin: 0;
    }
}