.Navbar_top {
    height: 54px;
    width: 100%;
}

.nav_content ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 30px;
}

.nav_content ul li {
    margin-right: 30px;
    line-height: 54px;
}

.nav_content ul li a {
    text-decoration: none;
    color: #878787;
    font-weight: 500;
    transition: all .3s;
    border-bottom: 2px solid transparent;
    font-family: "helvetica neue", helvetica, Arial, "lucida grande", sans-serif;
    font-size: 13px;
    padding: 1px;
}

.nav_content ul li a.primary {
    color: #53aa37;
}

.nav_content ul li a.primary:hover {
    border-color: #53aa37;
}

.nav_content ul li a:hover {
    border-color: rgb(135, 135, 135);
    opacity: .8;
}

.logo_content {
    height: 100%;
    padding-right: 30px;
}

.logo_content a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    text-decoration: none;
    height: 100%;
    width: 280px;
    margin-left: auto;
}

.logo_img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.logo_img img {
    width: 100%;
    height: 100%;
}

.text {
    font-family: "helvetica neue", helvetica, Arial, "lucida grande", sans-serif;
    font-size: 13px;
    padding: 1px;
    border-bottom: 2px solid transparent;
    transition: all .3s;
    color: #878787;
}

.logo_content a:hover .text {
    border-color: rgb(135, 135, 135);
    opacity: .8;
}

@media (max-width: 1025px) {
    .Navbar_top {
        background-color: #fff;
    }
}

@media (max-width: 768px) {
    .Navbar_top {
        display: none;
    }
}