.location {
    line-height: 2.5em;
    margin: 0 0 20px;
    border-top: 2px solid #e7e7e7;
}

.location_row {
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.location_row a {
    color: #bbb;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    position: relative;
}

.location_row a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    background-color: transparent;
    height: .5px;
    width: 100%;
    transition: all .3 ease-in-out;
}

.location_row a:hover::after {
    background-color: #bbb;
}

.location_row a.active {
    color: #333;
    cursor: default;
}

.location_row a.active::after {
    display: none;
}

.location_row span {
    padding: 0 5px;
    color: #bbb;
}