.Shop_content {
    background-color: #f9f9f9;
}

.shop_header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

@media (max-width: 1025px) {
    .shop_header {
        background-color: #fff;
    }

    .shop_content_bg,
    .shop_title {
        background-color: #f9f9f9;
    }
}